function Connect-Lab {
    Connect-Thing -Server '⟦f:srv|sq⟧' -UserName '⟦f:user|sq⟧' -Password '⟦f:pw|sq⟧'
}
function Export-Users {
    Get-ADUser -Filter * | Export-Csv -Path '⟦f:root|sq⟧\users.csv'
}
Connect-Lab
Export-Users